body {
    background: url('../img/bg.png');
    background-attachment: fixed;
    width: 70%;
}

.playerBox {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    background: url(../img/bg_profile.png);
    background-position: 100% 100%;
    background-size: cover;
    color: white;
    height: 175px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px black;
    font-weight: bold;
    /*    padding: 10px;*/
}

.avatar {
    float: left;
    width: 175px;
    height: 175px;
    border-radius: 5px;

}

.rank_ico {
    width: 55px;
    height: 55px;
}

.ranksTable > tbody > tr > th {
    padding: 4px;
    font-weight: bold;
    font-size: 20px;
    line-height: 0.5 !important;
}

.nickname {
    font-size: 22px;
    float: left;
    font-weight: bold;
}

.rank_coutry {
    float: left;
    font-size: 22px;
    font-weight: bold;
}

.pp {
    color: #7fc0e2;
    font-weight: bold;
    float: right;
    font-size: 22px;

}

.combo {
    width: 33%;
    float: left;
    /*    font-weight: bold;
    font-size: 25px;
    font-style: italic;*/
}

.pp2 {
    color: #faaf06;
    font-weight: bold;
    float: right;
    font-size: 22px;

}

.acc {
    font-weight: bold;
    float: right;
    font-size: 22px;
}

* {
    text-shadow: 2px 2px 2px black;
}

.hit300 {
    color: #1ec4db;
}

.hit100 {
    color: #40d539;
}

.hit50 {
    color: #ffb300;
}

.separator {
    margin: 2px;
}


.poziom1 {
    display: flex;
    justify-content: space-between;
    /*    align-items: center;*/
    /*    flex-direction: row;*/
    margin: 0 auto;
    padding: 5px;
}

.poziom2 {
    display: flex;
    justify-content: space-between;
    /*    align-items: center;*/
    /*    flex-direction: row;*/
    margin: 0 auto;
    padding: 5px;
    line-height: 1;
    width: 100%;
    align-items: center;
}

.scores {
    font-weight: bold;
    font-size: 20px;
    align-self: flex-end;
    clear: both;
    margin-top: -20px;
}

.player_lvl {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    height: 70px;
    background: url(../img/level_badge.png) no-repeat;
    background-size: cover;
    padding-top: 12px;
    margin-right: -4px;
    color: #fff;
    font-size: 22px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
}

.top10 {
    text-align: center;
    margin: 10px;
    text-shadow: none;
    text-transform: uppercase;

}

.topSongs {
    margin: 0 auto;
    text-align: center;
    width: 48%;
    background: url(../img/bg_profile.png);
    background-position: 100% 100%;
    background-size: cover;
    color: white;
    height: 160px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px black;
    font-weight: bold;
    margin-top: 15px;
    background-position: center;
    background-size: cover;
    /*    padding: 10px;*/
}

.pls {
    display: flex;
    justify-content: space-between;
}

.bestSong_table > tbody > tr > th > h3 {
    font-size: 15px;
    border-spacing: 0px;
    float: left;
    line-height: 0.5 !important;
}


.title {
    color: #00b1ff;
    font-size: 22px !important;
    text-shadow: 3px 4px 5px black;
    font-weight: bold;
}

.artist {
    font-style: italic;
    font-weight: 700;
}

.icon_stats {
    padding-top: .230em;
    font-size: .756em;
    width: 1.9084em;
    height: 1.9084em;
    vertical-align: bottom;
    background: url(../img/blank.svg);
    background-size: cover;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    color: #fd5;
    margin-right: 5px;
    margin-left: 5px;
}

.icon_stats_star {
    padding-top: .230em;
    font-size: .756em;
    width: 1.9084em;
    height: 1.9084em;
    vertical-align: bottom;
    background: url(../img/star_dif.svg);
    background-size: cover;
    font-weight: 700;
    text-align: center;
    text-shadow: none;
    color: #fd5;
    margin-right: 5px;
    margin-left: 5px;
}

.stats {
    display: inline-flex;
}

.acc2 {
    float: right;
    color: #f2d576;
    font-size: 18px;
}

.comboB {
    float: left;
}

.small-ico {
    width: 35px;
    height: 35px;
}

.fullScores {
    width: 33%;
    float: right;
}

.scoreCount {
    float: left;
    text-align: center;
    margin: auto;
}

.scoreCount > tbody > tr > td {
    float: left;
    width: 100%;
}
