body {
    font-family: 'Baloo', cursive;
    margin: auto;
}

h1 {
    color: rgb(255, 102, 169);
    font-size: 9em;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;

}

html {
    background: url('../img/mainbg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

input[type='search'] {
    padding: 10px;
    width: 50%;
    font-size: 50px;
    font-weight: bold;
    transition: 0.2s;
    border-radius: 5px;
}

input[type='search']:focus {
    box-shadow: 3px 3px 3px black;
    border: 3px solid #f20990;
    transition: 0.2s;
}

input[type='submit'] {
    padding: 10px;
    font-size: 50px;
    box-shadow: none;
    width: 150px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: #f20990;

}

input[type='submit']:focus {
    box-shadow: 3px 3px 3px black;

}

.search {
    margin: auto;
    text-align: center;
    margin-top: 10%;

}
